html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.background {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    background-image: url('./assets/background.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}